@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css');
.responsive_tab *, *:before, *:after {
margin: 0;
/* padding: 0; */
box-sizing: border-box;
}
.responsive_tab  {
height: 90%;
font: 14px/1 'Open Sans', sans-serif;
color: #555;
}
.responsive_tab  h1 {
padding: 50px 0;
font-weight: 400;
text-align: center;
}
.responsive_tab  p {
margin: 0 0 20px;
line-height: 1.5;
}
.responsive_tab  main {
min-width: 320px;
max-width: 100%;
padding: 50px 10px 50px 10px;
margin: 0 auto;
background: #fff;
}
.responsive_tab  section {
display: none;
padding: 20px 0 0;
border-top: 1px solid #ddd;
}
.responsive_tab input {
display: none;
}
.responsive_tab label {
display: inline-block;
margin: 0 0 -1px;
padding: 15px 25px;
font-weight: 600;
text-align: center;
color: #bbb;
border: 1px solid transparent;
}
.responsive_tab label:before {
font-family: fontawesome;
font-weight: normal;
margin-right: 10px;
}
.responsive_tab label[for*='1']:before { content: '\26f1'; /*'\f2b9'*/ }
.responsive_tab label[for*='2']:before { content: '\f13d'; }
.responsive_tab label[for*='3']:before { content: '\26ea'; }
.responsive_tab label[for*='4']:before { content: '\f286'; }
.responsive_tab label[for*='5']:before { content: '\1f3ca'; }

.responsive_tab label[for='rooms']:before { content: '\e57d'; }
.responsive_tab label[for='around']:before { content: '\e209'; }
.responsive_tab label[for='food']:before { content: '\f2e7'; }
.responsive_tab label[for='celebrity']:before { content: '\f508'; }

.responsive_tab label:hover {
color: #888;
cursor: pointer;
}
.responsive_tab input:checked + label {
color: #555;
border: 1px solid #ddd;
border-top: 2px solid orange;
border-bottom: 1px solid #fff;
}
.responsive_tab #tab1:checked ~ #content1,
.responsive_tab #tab2:checked ~ #content2,
.responsive_tab #tab3:checked ~ #content3,
.responsive_tab #tab4:checked ~ #content4,
.responsive_tab #tab5:checked ~ #content5,
.responsive_tab #rooms:checked ~ #contentR,
.responsive_tab #around:checked ~ #contentA,
.responsive_tab #food:checked ~ #contentF,
.responsive_tab #celebrity:checked ~ #contentC
{
display: block;
}
@media screen and (max-width: 650px) {
.responsive_tab label {
font-size: 0;
}
.owlHeader {
	font-size: 15px !important;
}
#contentR .item img {
	height: 20rem !important;
}
.responsive_tab .item img {
	height: 40rem !important;
}
.responsive_tab label:before {
margin: 0;
font-size: 18px;
}
}
@media screen and (max-width: 400px) {
.responsive_tab label {
padding: 15px;
}
}
.box {
width: 25%;
height: auto;
float: left;
margin-bottom: 0.7em;
text-align: center;
}
.box .swipebox, .box .vf_swipebox {
display: block;
width: 100%;
height: auto;
}
.box .swipebox img, .box .vf_swipebox img {
width: 98%;
height: auto;
vertical-align: bottom;
}

@media screen and (max-width: 1024px) {
.box {
width: 50%;
}
}
@media screen and (max-width: 500px) {
.box {
width: 100%;
}
}



/* Loader */
#loader {
    position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 99;
}

.responsive_tab section > div {
	margin: 10px 0;
}
.responsive_tab .item img {
	height: 30rem;
}
#contentR .item img {
	height: 20rem;
}
.item img {
	height: 35rem;
}

.card {
	height: 35rem;
	border: 1px solid rgba(0, 0, 0, 0.175);
	border-radius: 0.375rem;
	position: relative;
}
.card-header, .card-body, .card-footer {
	padding: 2rem;
}
.card-body {
	padding-top: 0;
}
.card-body p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box !important;
	-webkit-line-clamp: 9;
	-webkit-box-orient: vertical;
	white-space: normal;
}
.card-body a {
	color: blue;
}
.card-header h4 {
	margin-bottom: 0.5rem;
}
.card-header p {
	display: flex;
	align-items: center;
}
.card-header p img {
	width: 15px !important;
	height: 15px;
	margin: 0 5px;
}
.card-footer{
	position: absolute;
	bottom: 0;
}
.stars i {
	color: rgb(252, 191, 2);
	font-size: 2rem;
}

#logoImg {
	width: 30rem;
}

.gReview, .upperDiv, .lowerDiv {
	display: flex;
	align-items: center;
	justify-content: center;
}
#gImg {
	width: 12rem;
}
.text-white {
	color: #fff;
	/* padding: 0 1rem; */
}
.reviewsLink {
	color: #3FACFA;
}

.my-4 {
	margin: 4rem 0;
}
.px-2 {
	padding: 0 1rem;
}

.border-right {
	border-right: 1px solid #fff;
}
.border-left {
	border-left: 1px solid #fff;
}
.owlHeader {
	color: #555 !important;
	padding-left: 0 !important;
}